 <title>Rideplex:Rent,Ride and Explore with Rideplex</title>
<!--<link href="static/images/finallogo.png" rel="icon"  type="image/png">-->
<link rel="icon" type="image/png" sizes="48x48" href="/static/images/ridelogo.png">
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="Rideplex : Rent , Ride and explore with Rideplex" name="description">
<meta content="" name="keywords">
<meta content="" name="author">
<!-- CSS Files
================================================== -->
<link href=static/"css/bootstrap.min.css" id="bootstrap" rel="stylesheet" type="text/css">
<link href="static/css/mdb.min.css" id="mdb" rel="stylesheet" type="text/css">
<link href="static/css/plugins.css" rel="stylesheet" type="text/css">
<link href="static/css/style.css" rel="stylesheet" type="text/css">
<link href="static/css/coloring.css" rel="stylesheet" type="text/css">
 <link href="static/css/leaser_cars_lux.css" rel="stylesheet" type="text/css">

<!-- color scheme -->
<link href="static/css/colors/scheme-01.css" id="colors" rel="stylesheet" type="text/css">



<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />-->





 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />